@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #142b2e;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins);
  }
}

/* Reset des inputs */
input,
textarea,
select {
  @apply outline-none shadow-none appearance-none bg-background text-foreground border border-foreground/20 rounded-md p-2 w-full;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline outline-1 outline-teal-300 border-teal-300;
}

input::placeholder,
textarea::placeholder {
  @apply text-foreground/50;
}

/* Styles pour la navigation */
.nav a.active .nav-indicator {
  @apply w-16 bg-foreground;
}

.nav a.active .nav-text {
  @apply text-foreground;
}

.nav a {
  @apply transition-all duration-300;
}

.nav a:hover .nav-indicator {
  @apply w-16 bg-foreground;
}

.nav a:hover .nav-text {
  @apply text-foreground;
}
