@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-primary: "Poppins", sans-serif;
  }

  .dark {
    --background: #142b2e;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-primary);
    /* min-height: 100vh; */
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Reset des inputs */
input,
textarea,
select {
  @apply outline-none shadow-none appearance-none bg-background text-foreground border border-foreground/20 rounded-md p-2 w-full;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline outline-1 outline-teal-300 border-teal-300;
}

input::placeholder,
textarea::placeholder {
  @apply text-foreground/50;
}

input[name="name"]::placeholder {
  content: "Votre nom";
}

input[name="email"]::placeholder {
  content: "Votre email";
}

textarea[name="message"]::placeholder {
  content: "Votre message";
}

/* Styles pour la navigation */
.nav a.active .nav-indicator {
  @apply w-16 bg-foreground;
}

.nav a.active .nav-text {
  @apply text-foreground;
}

.nav a {
  @apply transition-all duration-300;
}

.nav a:hover .nav-indicator {
  @apply w-16 bg-foreground;
}

.nav a:hover .nav-text {
  @apply text-foreground;
}

html {
  scroll-behavior: smooth;
}
